@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: cursive;
}

.players {
  font-size: 16px;
}

.player img, .computer img {
  width: calc(130px + 100 * (100vw / 1400));
  height: calc(130px + 100 * (100vw / 1400));
}

.App, #root, .cards {
  width: 100%;
  height: 100%;
}

.cards__body {
  margin-top: 3%;
}
.cards__body img {
  width: calc(150px + 100 * (100vw / 1400));
  height: calc(250px + 100 * (100vw / 1400));
}

.cards__button {
  margin-top: 3%;
}

.computerCard__text, .playerCard__text {
  padding: 2%;
  font-size: calc(16px + 20 * (100vw / 1400));
}

.aboutGame {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #bfa7a7;
}
.aboutGame div {
  font-weight: 500;
  font-size: calc(16px + 18 * (100vw / 1400));
  width: calc(150px + 450 * (100vw / 1400));
}
.aboutGame input {
  max-width: 300px;
  margin: 0 auto;
}

.error {
  color: red;
  font-size: 16px;
  font-family: cursive;
  display: block;
}

.nextRound {
  font-size: calc(16px + 18 * (100vw / 1400));
  font-weight: 500;
  position: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  background: #bfa7a7;
}

img {
  width: calc(150px + 150 * (100vw / 1400));
  height: calc(150px + 150 * (100vw / 1400));
  padding: 30px;
}

.nextRound__button button {
  width: 25%;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@keyframes openCard {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
.computerCard .shake, .playerCard .shake {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.nextRound-enter {
  opacity: 0;
}

.nextRound-enter-active {
  transition: opacity 0.5s ease-out;
  opacity: 1;
}

.nextRound-exit-active {
  opacity: 0;
}

.openCard {
  animation: openCard 1s;
}